.aside{
    width: 250px;
    border-top: 1px solid black;
}

.aside-menu{
    margin: 70px 25px 0 ;
    text-align: center;
    .user-avatar{
        position: relative;
        .avatar-cam{
            width: 40px;
            height: 40px;
            position: absolute;
            top: 45px;
            right: 30px;
            
        }
    }
}

.menu-items{
margin-top: 35px;
text-align: center;
ul{
    padding: 0.6em;
    li{
        list-style-type: none;
        margin-bottom: 30px; 
        .menu-item{
            padding: 5px;
            font-size: 1.2em;
            font-weight: 700;
            border-top-right-radius: 50rem;
            border-bottom-right-radius: 50rem;
            background-color:  #d1cece;
            box-shadow: 2px 4px 5px complement($color: #8d8a8a);
        }
    }
}
}



  

  
  