.aside{
    width: 250px;
}

.aside-menu{
    margin: 70px 25px 0 ;
    text-align: center;
}

.menu-items{
margin-top: 35px;
text-align: center;
ul{
    padding: 0;
    li{
        list-style-type: none;
        margin-bottom: 30px;

       
    }
}
}



  

  
  