.auth-pages-cover{
    background-image: url('../../assets/img/background.jpeg');
    height: 100%;
    background-repeat:no-repeat;
    background-size: cover;
}

.card-bg{
background: rgb(209, 206, 206);
}